@model JavaTech3.ViewModels.ShippingViewModel
@{
    ViewData["Title"] = "Index";
    
}

<h1>Index</h1>
<form asp-action="ProductCreate">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <table id="MultiAddUserTable" class="table">
        <tr>
            <th>Name</th>
            <th>Quantity</th>

        </tr>
        @foreach (var item in Model.ShippingProducts)
        {
            <tr>
                <td>@item.Product.Name</td>
                <td>@item.Quantity</td>

            </tr>
        }
    <tr>
        <td contenteditable="true">

            <select asp-for="@Model.Product_id" class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                <option selected>Choose...</option>
                @foreach (var item in Model.Products)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        </td>

        <td contenteditable="true">
            <input id="Text2" type="text" asp-for="@Model.Quantity" />
            <br /><span asp-validation-for="@Model.Quantity" class="text-danger"></span>
        </td>
        <td contenteditable="true">
            <input hidden id="Text2" type="text" asp-for="@Model.Shipping_id" />
            <br /><span asp-validation-for="@Model.Shipping_id" class="text-danger"></span>
        </td>
    </tr>
    </table>
    <input type="submit" value="ProductCreate" class="btn btn-primary" />
</form>

<div>
    <a asp-action="Index">Confirm</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}