@model JavaTech3.ViewModels.VMProductUserList




@{
    ViewData["Title"] = "List";
}

<h1>List</h1>




<div class="row">

    @foreach (var item in Model.ProductsUsers)
    {
        <div class="col-sm-6">
            <div class="card" style="width: 18rem;">
                <form asp-action="Whitdrawal">
                    <img class="card-img-top" src=".../100px180/" alt="Imagem de capa do card">
                    <div class="card-body">
                        <h5 class="card-title">@item.Product_.Name</h5>
                        <p class="card-text">Quantidade @item.Quantity</p>
                        <input type="number" asp-for="@Model.Quantity." class="form-control col-sm-6"placeholder="Quantity">
                        <input type="hidden" asp-for="@Model.User_id." class="form-control col-sm-6" >
                        <input type="hidden" asp-for="@Model.ProductUser_id" value="@item.Id" class="form-control col-sm-6" >
                        <button type="submit" class="btn btn-primary">Whithdrawal</button>

                    </div>
                </form>
            </div>
        </div>
    }

</div>




